body {
    font-size: 16px;
    color: black;
    background-color: rosybrown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Impact, fantasy, sans-serif
  }
  
  #header-nav {
    background-color: yellow;
    border-radius: 0;
    border: 0;
    min-height: 70px;
  }
  
  .navbar-brand h1 {
    font-family: Impact, fantasy;
    font-weight: bold;
    color: skyblue;
    font-size: 2em;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: .75;
  }
  
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  
  #nav-list a {
    color: orange;
    font-weight: bold;
    font-style: italic;
  }
  
  #nav-list a:hover {
    background: beige;
  }
  
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #80bad1;
  }
  
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  
  #page-title {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  #main-text {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
  }
  
  .text-background {
    height: 1500px;
    padding: 20px 40px 20px 40px;
    background-color: beige;
    overflow: hidden;
  }
  
  h3 {
    font-weight: bold;
  }